.InfosBasicas{
    width: 100%;

    background-color: var(--bgcolor);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.InfosBasicas header{
    text-align: center;

    margin-top: 50px;

    font-size: 23px;
    color: white;
    font-family: var(--script);
    font-weight: bold;
}

.quadroRespostas{
    width: 55%;

    background-color: var(--maincolor);

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 25px;

    border-radius: 9px;
}

input{
    width: 90%;
    height: 45px;

    margin: 10px;

    border-radius: 5px;

    padding-left: 10px;
}

input::placeholder{
    font-family: var(--script);
    font-size: 14px;
    color: #BABABA;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.prosseguir{
    margin-top: 80px;
    margin-bottom: 50px;

    width: 40%;
    height: 40px;

    background-color: var(--maincolor);

    border-radius: 15px;

    font-family: var(--script);
    font-size: 14px;
    font-weight: 700;
}

.perguntas{
    width: 55%;
    min-height: 75px;

    background-color: var(--maincolor);

    margin-top: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 15px;
    padding-right: 15px;
}

.perg{
    color: white;
    font-family: var(--script);
    font-size: 18px;
}

.HPerg{
    margin-top: 20px;
}

.perguntas ion-icon{
    font-size: 25px;
}

.perguntas.expandida{
    height: fit-content;
}

.expandida .perg{
    color: white;
    font-family: var(--script);
    font-size: 18px;
    margin-top: 18px;
}

.finalizarPerg{
    margin-top: 80px;
    margin-bottom: 30px;

    color: white;
    font-family: var(--script);
    font-size: 18px;

    background-color: var(--maincolor);

    border-radius: 10px;

    width: 30%;
    min-height: 45px;
}