
/* Título do quiz no topo da página */
.titulo-do-quiz {
    position: relative;
    width: 100%;
    height: 230px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-do-quiz > img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    object-fit: cover;

    filter: brightness(40%);
}

.titulo-do-quiz > h1 {
    z-index: 1;

    font-family: var(--display);
    font-size: 42px;
    font-weight: bold;
    color: var(--fontcolor);
    text-shadow: 2px 2px 8px black,
                 -2px 2px 8px black,
                 2px -2px 8px black,
                 -2px -2px 8px black,
                 4px 4px 8px black,
                 -4px 4px 8px black,
                 4px -4px 8px black,
                 -4px -4px 8px black;
    text-align: center;
    word-break: break-word;
}
/* Título do quiz no topo da página */



/* Perguntas */
.pergunta-container {
    width: 1100px;
    margin: 16px 0px;

    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 3px solid var(--subcolor);
    border-radius: 8px;
}

.pergunta-container > header {
    width: 100%;
    height: 96px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--display);
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: var(--fontcolor);
    text-shadow: 2px 2px 4px black,
                 -2px 2px 4px black,
                 2px -2px 4px black,
                 -2px -2px 4px black;
    word-break: break-word;
}

.pergunta-container > div {
    width: 100%;
    margin-top: 16px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.pergunta-container > div > figure {
    width: 45%;
    margin-top: 32px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pergunta-container > div > figure > img {
    width: 100%;
    aspect-ratio: 1.9;

    object-fit: cover;

    cursor: pointer;
    transition: filter 0.5s;
}

.pergunta-container > div > figure > img.certa {
    filter: brightness(120%);
}

.pergunta-container > div > figure > img.errada {
    filter: brightness(40%);
}

.pergunta-container > div > figure > img.nao-revelada {
    filter: brightness(80%);
}

.pergunta-container > div > figure > img.nao-revelada:hover {
    filter: brightness(120%);
}

.pergunta-container > div > figure > figcaption {
    width: 100%;
    margin-top: 8px;

    font-family: var(--display);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    word-break: break-word;

    transition: all 1s;
}

.pergunta-container > div > figure > figcaption.certa {
    color: var(--rightanswer);
}

.pergunta-container > div > figure > figcaption.errada {
    color: var(--wronganswer);
}

.pergunta-container > div > figure > figcaption.nao-revelada {
    color: var(--fontcolor);
}
/* Perguntas */



@media (max-width: 1100px) {

    .titulo-do-quiz {
        min-height: 128px;
    }

    .titulo-do-quiz > h1 {
        font-size: 32px;
    }

    .pergunta-container {
        width: 100%;

        border-top: 3px solid var(--subcolor);
        border-bottom: 3px solid var(--subcolor);
        border-left: 0px none transparent;
        border-right: 0px none transparent;
        border-radius: 0px;
    }

    .pergunta-container > div > figure > img.certa {
        filter: brightness(100%);
    }

    .pergunta-container > div > figure > img.nao-revelada {
        filter: brightness(100%);
    }
}
